@import '../../styles/settings.scss';

.sectionProjects {
  margin-top: 100px;
  background-color: black;
  min-height: 800px;
  z-index: 2;
  margin-bottom: 100px;
}

.background {
  background-image: url('../../images/codebackground.png');
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover; /* Resize the background image to cover the entire container */
}

.sectionProjects h1,
h2 {
  color: white;
  font-size: 70px;
  text-align: center;
  font-weight: 800;
  margin-bottom: 100px;
}

.boxlarge {
  background-color: red;
  border-radius: 5px;
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
}

.sectionProjects img {
  object-fit: cover;
  height: 100%;
  border-radius: 5px;
}

.boxmedium {
  background-color: blue;
  border-radius: 5px;
  width: 100%;
  height: 135px;
  margin-bottom: 25px;
}

.boxsmall {
  background-color: pink;
  border-radius: 5px;
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
  margin-right: 10px;
}

.boxxsmall {
  background-color: yellow;
  border-radius: 5px;
  width: 100%;
  height: 137px;
  margin-bottom: 25px;
}
