@import '../../styles/settings.scss';

.sectionEducation {
  margin-top: 100px;
  background-color: black;
  min-height: 800px;
  color: black;
}

.sectionEducation h1,
h2 {
  color: white;
}

.headline {
  text-align: center;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
}

.educationframe {
  background-color: pink;
  border-radius: 5px;
  padding: 15px;
  min-height: 600px;
}
